@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../fonts/opensans-condbold-webfont.eot');
    src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condbold-webfont.woff') format('woff'),
         url('../fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

body
{
	margin:0;
}

#logo
{
	width:80%;
	height:90px;
	margin:-10px 0px 10px 100px;
	min-width:800px;
	padding-top:0px;
}

#menu
{
	width:100%;
	height:40px;
	background-color:#89c54f;
	background: linear-gradient(to top, #89c54f, #c7e9a5);
	/*background: linear-gradient(to top, #999999, #eeeeee);*/
	border-bottom:2px solid #89c54f;
	min-width:800px;
}

#menu ul
{
	list-style-type:none;
	margin:0px auto;
	width:90%;
	margin-left:150px;
}

#menu ul li
{
	display:block;
	float:left;
	height:41px;
	position:relative;
	margin-top:1px;
}

#menu ul li:hover
{
	background-color:#ffffff;
	color:#000000;
}

#menu ul li:hover a
{
	color:#000000;
	text-shadow:none;
}

#menu ul li a
{
	text-decoration:none;
	display:block;
	height:29px;
	/*float:left;*/
	/*margin-left:10px;
	margin-right:10px;*/
	border-right:1px solid #ffffff;
	padding-left:10px;
	padding-right:10px;
	padding-top:12px;
	font-family:'Roboto condensed';
	font-weight:normal;
	font-size:14px;
	color:#ffffff;
	text-shadow:1px 1px #999999;
	/*text-transform:uppercase;*/
}

#menu ul li a.pocetna
{
	border-left:1px solid #ffffff;
}

#menu ul li a:hover
{
	/*background-color:#ffffff;
	border-top:1px solid #c7e9a5;
	/*border-bottom:1px solid #89c54f;*/
	/*color:#444444;*/
}

#slider
{
	width:100%;
	height:400px;
	background-color:#444444;
	padding-top:0px;
	text-align:center;
	border-bottom:3px solid #89c54f;
}

#sadrzaj
{
	/*text-align:center;*/
	padding:20px 20px 20px 100px;
	font-family:Verdana;
	font-size:12px;
	color:#444444;
	width:1000px;
	float:left;
}

#sadrzaj h1
{
	font-family:'open_sans_condensedbold';
	font-size:24px;
	color:#444444;
}

#sadrzaj h2
{
	font-family:'open_sans_condensedbold';
	font-size:18px;
	color:#444444;
}

#sadrzaj h3
{
	font-family:'open_sans_condensedbold';
	font-size:12px;
	color:#444444;
}

.imgSadrzaj
{
	float:left;
}

#sadrzajCenter
{
	/*width:500px;*/
	float:left;
	text-align:justify;
	padding:5px;
	line-height:1.5;
}

#sadrzajRight
{
	width:150px;
	float:right;
}

#sadrzajLeft
{
	width:320px;
	float:left;
}

#sadrzaj li
{
	padding:2px 0px 2px 0px;
}

#sadrzaj li a
{
	/*text-decoration:none;
	color:#444444;*/
}

#sadrzaj a
{
	/*color:#444444;*/
}

.column
{
	width:395px;
	height:200px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:10px;
	margin-right:10px;
	border-radius:0px;
	/*background:url('../images/vertikalna.png') right no-repeat;*/
	padding-left:0px;
	padding-right:0px;
	text-align:left;
}

#columnWrapper
{
	margin:0 auto;
	width:1073px;
}

.prvi
{
	
}

.naslov
{
	font-family:'open_sans_condensedbold';
	font-size:16px;
	font-weight:bold;
	color:#444444;
	text-align:center;
	display:block;
	width:395px;
	/*background: linear-gradient(to top, #89c54f, #c7e9a5);*/
	height:24px;
	margin:0px;
	border-radius:0px;
	padding-top:5px;
	/*text-shadow:1px 1px #999999;*/
}

.column200
{
	width:200px;
}

.column750
{
	width:820px;
}

.columnText
{
	font-family:helvetica;
	font-size:12px;
	color:#444444;
	text-align:justify;
	padding:5px;
}

.columnLink
{
	color:#89c54f;
	font-family:Arial;
	font-size:12px;
	text-align:left;
	text-transform:uppercase;
	margin-top:5px;
	display:block;
}

.columnImg
{
	float:left;
	margin:5px;
	/*border:1px solid #999999;*/
}

.imgBorder
{
	border:1px solid #999999;
}

.dalje
{
	display:block;
	width:100%;
	text-decoration:none;
	color:#999999;
	text-align:right;
	font-family:Arial;
	font-size:12px;
	margin-bottom:5px;
}

.dalje:hover
{
	color:#000000;
}

.crta
{
	width:1px;
	height:200px;
	background-color:#eeeeee;
	float:left;
	margin-left:5px;
	margin-right:5px;
	margin-top:50px;
}

#footer
{
	width:100%;
	background-color:#eeeeee;
	background:linear-gradient(to top,#eeeeee,#ffffff);
	float:left;
	font-family:Arial;
	font-size:12px;
	color:#444444;
	border-top:2px solid #89c54f;
	min-width:1301px;
}

#footerLeft
{
	width:400px;
	padding-left:50px;
	float:left;
	border-right:1px dotted #444444;
	height:240px;
}

#footer h3
{
	font-weight:bold;
	font-size:20px;
	margin:20px 0px 0px 0px;
}

#footer h4
{
	margin:0px 0px 10px 0px;
	font-size:10px;
}

#footer p
{
	margin:0px;
}

#footerRight
{
	float:right;
	width:500px;
	height:240px;
	text-align:right;
	padding:0px 50px 0px 0px;
	border-left:1px dotted #444444;
}

#footerCenter
{
	float:left;
	height:240px;
	padding:0px 10px 0px 10px;
}

.mapa
{
	float:left;
	margin:20px 10px 5px 10px;
}

.dropDown2Columns
{
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em;
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #777777;
	border-top:none;
	border-left:none;
	width:240px;
	background:linear-gradient(to top,#eeeeee,#ffffff);
	/*height:100px;*/
	z-index:1000;
	border-radius:0px 5px 5px 5px;
}

.col2
{
	display:inline;
	position:relative;
	float:left;
	/*width:200px;*/
	margin-left:5px;
	margin-right:5px;
}

#menu ul li:hover .dropDown2Columns
{
	left:-1px;
	top:30px;
}

p.menu
{
	font-family:Verdana;
	font-size:12px;
}

.submenu:hover
{
	background-color:#eeeeee;
	border-style:none;
}

#icons
{
	/*position:absolute;
	right:0px;
	padding-right:20px;
	top:95px;
	padding-top:20px;
	text-align:center;
	height:32px;*/
	/*width:99%;*/
	text-align:right;
	padding:5px 0px 0px 20px;
	min-width:105px;
	float:left;
}

.facebook
{
	background-image:url('../images/facebook-icon-bw.png');
	width:32px;
	height:32px;
	display:block;
	float:left;
	margin:0px 5px 0px 5px;
}

.facebook:hover
{
	background-image:url('../images/facebook-icon.png');
}

.youtube
{
	background-image:url('../images/youtube-icon-bw.jpg');
	width:32px;
	height:32px;
	display:block;
	float:left;
	margin:0px 5px 0px 5px;
}

.youtube:hover
{
	background-image:url('../images/youtube-icon.jpg');
}

#topLinks
{
	/*position:absolute;
	top:5px;
	right:20px;*/
	text-align:right;
	padding-top:5px;
	padding-right:5px;
	height:20px;
}

#topLinks a
{
	font-family:Arial;
	font-size:12px;
	color:#999999;
	text-decoration:none;
	/*border-right:1px solid #999999;*/
	padding-right:0px;
	display:inline-block;
	height:30px;
	text-align:center;
	width:35px;
	margin:0px;
}

#topLinks a:hover
{
	color:#000000;
}

.zeleniTekst
{
	color:#89c54f;
}

.betonskaGalanterija
{
	list-style-type:none;
	margin:0px;
}

.betonskaGalanterija li
{
	display:block;
	float:left;
	width:110px;
	text-align:center;
}

.betonskaGalanterija li a
{
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	color:#444444;
	text-decoration:none;
}

.betonskaGalanterija h3
{
	margin:0px;
}

#containerPhotobanner
{
	width:800px;
	height:77px;
	overflow:hidden;
	background-color:#ffffff;
}

.photobanner
{
	height:77px;
	width:1100px;
	margin-bottom:0px;
	margin:0px;
	padding:0px;
}

.first
{
	animation:bannermove 30s linear infinite;
	-webkit-animation:bannermove 30s linear infinite;
}

@keyframes bannermove
{
	0% { margin-left:0px; }
	100% {margin-left:-705px; }
}

@-webkit-keyframes bannermove
{
	0% { margin-left:0px; }
	100% {margin-left:-728px; }
}

.photobanner img
{
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.photobanner img:hover
{
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	
}

.photobanner a
{
	
}

.photobanner img:hover > .first {-webkit-animation-play-state:paused;}

#proizvod
{
	text-align:left;
}

#proizvod h1
{
	font-family:'open_sans_condensedbold';
	font-size:18px;
	font-weight:bold;
	color:#444444;
	margin:20px 0px 20px -100px;
	background-color:#c3ef99;
	width:500px;
	padding:10px 10px 10px 100px;
}

#slike
{
	width:300px;
	border:1px solid #dddddd;
	padding:5px 5px 5px 5px;
	margin: 0px 40px 20px 0px;
	float:left;
}

.opisProizvoda
{
	display:block;
	float:left;
	width:596px;
	text-align:justify;
	margin-top:50px;
	line-height:1.5;
}

#slike .thumb
{
	border:1px solid #dddddd;
}

.imgDimenzije
{
	margin:0px 0px 0px 0px;
}

.imgBoje
{
	margin:44px 0px 0px 0px;
}

.imgPrimer
{
	margin:-130px 0px 0px 0px;
}

#proizvod h2
{
	font-size:14px;
	font-family:'open_sans_condensedbold';
}

.jezik
{
	display:inline-block;
	width:35px;
	text-align:center;
	margin:0px;
}

.jezikSlika
{
	margin:0px 0px 0px 0px;
}

ul.footerUl
{
	margin:10px 0px 0px 10px;
	padding:0px;
}

ul.footerUl li
{
	margin:5px 0px 2px 0px;
}

ul.footerUl li a
{
	color:#444444;
	text-decoration:none;
}

ul.footerUl li a:hover
{
	text-decoration:underline;
}

#footer img
{
	border:1px solid #444444;
}

.gridDimenzije
{
	border:1px solid #999999;
	margin-top:20px;
}

.gridDimenzije th
{
	border-color: #989898 #cbcbcb #989898 #989898;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 1px;
    color: #444444;;
    padding: 4px 5px 4px 10px;
    vertical-align: bottom;
    text-align: left;
    background-color: #89c54f;
    font-weight:bold;
}

#boje
{
	border:1px solid #999999;
	/*float:left;*/
	margin:0px 0px 20px 0px;
	overflow:hidden;
	display:inline-block;
}

.boja
{
	float:left;
	/*border:1px solid #999999;*/
	text-align:center;
	width:50px;
	margin:2px;
}

.proizvodLi
{
	display:inline-block;
	width:100px;
	text-align:center;
	margin:5px;
	border:1px solid #eeeeee;
}

.proizvodLi:hover
{
	border:1px solid #999999;
}

.proizvodLi a
{
	color:#444444;
	text-decoration:none;
}

h2.kontakt
{
	font-size:14px;
}

h3.kontakt
{
	font-size:12px;
}

#mapa
{
	float:left;
	margin:20px;
	border:1px solid #999999;
}

.column500
{
	float:left;
	width:458px;
}

.proizvodPrvaStrana
{
	width:100px;
	float:left;
	text-align:center;
	margin-bottom:20px;
}

.proizvodPrvaStrana a
{
	text-decoration:none;
	color:#444444;
}

.proizvodPrvaStrana a:hover
{
	text-decoration:underline;
}

p.justify
{
	text-align:justify;
	line-height:1.5;
}

.kontaktTextBox
{
	border:1px solid #999999;
	border-radius:2px;
}

.projekatSkraceno
{
	margin:20px 0px 10px 20px;
	border-bottom:1px dotted #999999;
	padding:0px 0px 10px 0px;
	width:480px;
	height:200px;
	float:left;
}

.proizvodniProgramLi
{
	/*border:1px solid #999999;*/
	vertical-align:middle;
	height:90px;
	border-bottom:1px dotted #999999;
}

.proizvodniProgramLi img
{
	float:left;
}

.proizvodniProgramLi a
{
	padding:35px 0px 0px 0px;
	margin:0px 0px 0px 100px;
	display:block;
	text-decoration:none;
	color:#444444;
}

.proizvodniProgramLi a:hover
{
	text-decoration:underline;
}

a.tekst
{
	color:#89c54f;
}

.topMargin40
{
	margin-top:40px;
}

.galerijaUl
{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.galerijaUl li
{
	display:inline-block;
	/*width:50px;*/
}

.galerijaUl li a
{
	color:#89c54f;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
}

.galerijaUl li a:hover
{
	text-decoration:underline;
}

.delatnost
{
	border-bottom:1px dotted #999999;
}

li.linkovi
{
	line-height:20px;
}

li.marginLeft20
{
	margin-left:15px;
}

.sema
{
	width:400px;
	height:220px;
	/*border:1px solid #89c54f;*/
	margin:10px;
	padding:0px;
	text-align:center;
	float:left;
}

.semaHeader
{
	height:20px;
	background-color:#89c54f;
	margin:0px;
	padding:0px;
	float:left;
	width:400px;
}

p.right
{
	text-align:right;
	margin:0px;
	padding:2px;
}

p.left
{
	text-align:left;
	margin:0px;
	padding:2px;
	float:left;
}

.sema img
{
	margin:5px;
}

#proizvodi
{
	width:150px;
	float:left;
	height:100%;
}

#seme
{
	overflow:hidden;
}

.proizvodLink
{
	display:block;
	font-size:10px;
	color:#999999;
}

.slojeviTla
{
	width:300px;
	/*border:1px solid #89c54f;*/
	margin:20px;
	text-align:center;
	float:left;
}

.slojeviTla h2
{
	display:block;
	background-color:#89c54f;
	color:#ffffff;
	padding:5px;
	margin:0px;
}

.slojeviTla ul
{
	text-align:left;
}

.navigacija
{
	border-bottom:1px dotted #eeeeee;
	height:20px;
	width:700px;	
}

.navigacija a
{
	color:#89c54f;
	text-decoration:none;
	font-size:10px;
}

.navigacija a:hover
{
	color:#89c54f;
	text-decoration:underline;
}

.navigacija p
{
	font-size:10px;
}

.inline
{
	display:inline;
}

.bold
{
	font-weight:bold;
}

.lineheight15
{
	line-height:1.5;
}

.like{margin-bottom:10px;}